doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no')
    title= title + ' - Cassiny AppEngine'
    block styles
      link(rel='stylesheet', href=app.get('assets url prefix') + '/common/res/min.css')
    block scripts
      script(src=app.get('assets url prefix') + '/vendor/min.js')
  body
    block body
