doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no')
    title= title ? (title + ' - Cassiny AppEngine') : 'Cassiny AppEngine'
    if req.user
      meta(name='cassiny-username', value=req.user.username)
    block meta
    block styles
      link(rel='stylesheet', href=app.getAssetUrl('/css/common.min.css'))
    block scripts
      script(src=app.getAssetUrl('/js/vendor.min.js'))
  body
    block body
      include injections
